[deps]
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
Catalyst = "479239e8-5488-4da2-87a7-35f2df7eef83"
CommonSolve = "38540f10-b2f7-11e9-35d8-d573e4eb0ff2"
DataDrivenDiffEq = "2445eb08-9709-466a-b3fc-47e12bd697a2"
DiffEqDevTools = "f3b72e0c-5b89-59e1-b016-84e28bfd966d"
DiffEqFlux = "aae7a2af-3d4f-5e19-a356-7da93b79d9d0"
DiffEqJump = "c894b116-72e5-5b58-be3c-e6d8d4ac2b12"
DiffEqNoiseProcess = "77a26b50-5914-5dd7-bc55-306e6241c503"
DiffEqOperators = "9fdde737-9c7f-55bf-ade8-46b3f136cc48"
DiffEqParamEstim = "1130ab10-4a5a-5621-a13d-e4788d82bd4c"
DiffEqProblemLibrary = "a077e3f3-b75c-5d7f-a0c6-6bc4c8ec64a9"
DiffEqSensitivity = "41bf760c-e81c-5289-8e54-58b1f1f8abe2"
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
ExponentialUtilities = "d4d017d3-3776-5f7e-afef-a10c40355c18"
GlobalSensitivity = "af5da776-676b-467e-8baf-acd8249e4f0f"
Integrals = "de52edbc-65ea-441a-8357-d3a637375a31"
LabelledArrays = "2ee39098-c373-598a-b85f-a56591580800"
Latexify = "23fbe1c1-3f47-55db-b15f-69d7ec21a316"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
LibGit2 = "76f85450-5226-5b5a-8eaa-529ad045b433"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
MethodOfLines = "94925ecb-adb7-4558-8ed8-f975c56a0bf4"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
ModelingToolkitStandardLibrary = "16a59e39-deab-5bd0-87e4-056b12336739"
MultiScaleArrays = "f9640e96-87f6-5992-9c3b-0743c6a49ffa"
NBodySimulator = "0e6f8da7-a7fc-5c8b-a220-74e902c310f9"
NeuralOperators = "ea5c82af-86e5-48da-8ee1-382d6ad7af4b"
NeuralPDE = "315f7962-48a3-4962-8226-d0f33b1235f0"
NonlinearSolve = "8913a72c-1f9b-4ce2-8d82-65094dcecaec"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
ParameterizedFunctions = "65888b18-ceab-5e60-b2b9-181511a3b968"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PoissonRandom = "e409e4f3-bfea-5376-8464-e040bb5c01ab"
PolyChaos = "8d666b04-775d-5f6e-b778-5ac7c70f65a3"
QuadGK = "1fd47b50-473d-5c70-9696-f719f8f3bcdc"
QuasiMonteCarlo = "8a4e6c94-4038-4cdc-81c3-7e6ffdb2a71b"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
ReservoirComputing = "7c2d2b1e-3dd4-11ea-355a-8f6a8116e294"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
SciMLDocs = "9802be14-e95c-4933-b545-e41021dbf0cf"
SciMLOperators = "c0aeaf25-5076-4817-a8d5-81caf7dfa961"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Surrogates = "6fc51010-71bc-11e9-0e15-a3fcc6593c49"
SymbolicNumericIntegration = "78aadeae-fbc0-11eb-17b6-c7ec0477ba9e"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"
